.messagesbox {
  height: 100vh;

  &__header {
    height: 12vh;
    border-bottom: 1px solid #eee;

    &__title {
      margin: 30px 0 20px 30px; 
    }

    &__members {
      margin-left: 30px; 
    }

    &__button {
     float: right;
      margin: -80px 40px 0 0;
    }
  }

  &__body {
    height: 73%;
    overflow: scroll; 

    .message {
      margin: 10px 0 0 20px;

      &__image .image {
        height: 100px;
        width: 100px;	
      }
    }
  }

  &__footer {
    height: 11%;
    background-color: #B8C3C7; 
  }
}

