.messagesbox {
  height: 100vh;

  .messagesbox__header {
    height: 12%;
    border-bottom: 1px solid #eee;

    .messagesbox__header__title {
      margin: 30px 0 20px 30px; 
    }

    .messagesbox__header__members {
      margin-left: 30px; 
    }

    .messagesbox__header__button {
     float: right;
      margin: -80px 40px 0 0;
    }
  }

  .messagesbox__body {
    height: 73%;

    .message {
      margin: 10px 0 0 20px;

      .message__image .image {
        height: 100px;
        width: 100px;	
      }
    }
  }

  .messagesbox__footer {
    height: 11%;
    background-color: #B8C3C7; 
  }
}
