.contents {

  .side-bar {
    height: 100vh;
    width: 300px;
    background-color: #253141;
    float:left;

    .header {
      height: 130px;
      background-color: #090c10; 

      .header__name {
        color: gray;
      }
    }

    .groups {
      height: calc(100vh - 130px);
      overflow: scroll;
    }
  }

  .messagesbox {
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: white;
    float: left;
  }
}
